* {
    border-style: border-box;
}


body {
    
}

button {
    width:50%;
    margin-left:25%;
    margin-right:25%;
    margin-top: 25%;
    background-color: pink;
    position:absolute;
    top:0;
    left:0;
    display:block;
}

img {
    margin: 0 auto;
    position: absolute;
    top:0;
    left:0;
    display: none;
}
